<div class="container">
    <div class="row align-items-center justify-content-center">
      <mat-card class="example-card" centered-card>
        <h2 class="text-center">Forgot Password</h2>
        <form class="example-form" >
          <mat-form-field appearance="outline" class="mb-4 example-full-width">
            <mat-label>Email</mat-label>
            <input
            id="email"
              type="email"
              matInput
              [(ngModel)]="forgotPasswordForm.email"
              placeholder="Enter Email"
              required
              name="email"
            />
          </mat-form-field>
          <div class="mb-4 example-button-row d-flex justify-content-center">
            <button mat-raised-button color="primary" type="submit" (click)="forgotpassword()">
              Forgot Password
            </button>
  
          </div>
          <a type="submit" routerLink="/login" class="">Go to Login</a>
  
        </form>
      </mat-card>
    </div>
  </div>
  